<html>
    <head>
        <meta charset='utf-8' />
        <title>{{data.title}}</title>
        <link href='css/styles.css' rel='stylesheet' />
    </head>
    <body>
        <h1>{{data.title}}</h1>
        <a href='http://localhost:3000/login'>로그인페이지</a>
        <a href='http://localhost:3000/chat'>채팅페이지</a>
        {{data.copyright}}
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
        <script src='js/login.js'></script>
    </body>
</html>